<div class="h-screen flex items-center flex-col pt-4  bg-slate-800">
  <div>
    <h1 class='text-3xl text-white uppercase'>Liste de Choses à accomplir</h1>
  </div>
  <div class="">
    <form [formGroup]="todoForm" class='flex gap-y-2 flex-col h-fit items-center'>
        <input type="text" formControlName='title' class='p-2 text-xl mt-5 rounded-lg text-black title' placeholder="Nouveau Tâche?"/>
        <button type="submit" class='h-full w-75 px-3 text-lg py-2 text-black bg-gray-300 rounded-xl' (click)= "add()" >Ajouter</button>
    </form>
  </div>
  <div *ngFor="let todo of todoList">
  <div class="bg-white h-fit w-full p-3 text-black">
<h3>{{ todo.title }}</h3>
  </div>
  </div>
</div>
